/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 600px;
    min-width: 1200px;
    /* Header main text color */
    color: white;
}


/* NAVIGATION BAR */
nav{
    display: inline-block;
    margin: 0 210px;
} 


li{
    display: inline-block;
    margin: 0 20px;
}

nav> li> a{
    /* Style and Shape */
    color: white;
    text-decoration: none;
} 


/* HEADER Title */
h1{
    font-size: 3em;
}

/* SECTION General Settings */
section{
    height: 700px;
    padding: 70px 0;
}

/* SECTION CONTENT */
div.section_content{
    display: inline-block;
    width: 38%;
}

.responsiveness{
    /* Responsive */
    /* Se il box ha TROPPO SPAZIO raggiunge una LARGHEZZA MASSIMA FISSA(in modo tale che 
    il TESTO  NON si DISPERDA */
    /* Se il box ha POCO SPAZIO  raggiunge una LARGHEZZA MINIMA FISSA */
    width: 100%;
    margin: 0 auto;
    min-width: 1050px;
    max-width: 1200px;
}


/* SECTION CONTENT> h1 */
section div.section_content>h1{
    padding-top: 30px;
}
/* SECTION CONTENT> p */
section div.section_content>p{
    line-height: 35px;
}

/* SECTION CONTENT < img */
div.content_wrapper>img{
    width:60%;
}

/* General Settings for IMG */
img.vertical_align{
    vertical-align: top;
}



/*  General Settings for ALL the BUTTONS */
input[type="button"]{
    cursor: pointer;
    border: none;
}

/*  General Settings for the BUTTONS in the HEADER CONTENT
and SECTION CONTENT */
div#header_content>input[type="button"],
section#special_section input[type="button"]
{
    font-size: 1.2em;
    height: 50px;
    padding: 15px;
    border-radius: 30px;
}

/* TOP BAR */
div#top_bar{
    padding-top: 20px;
    display: block;
    margin: 0 auto;
}


/* HEADER CONTENT */
div#header_content{
    text-align: center;
    width: 600px;
    margin: 0 auto;
    margin-top: 100px;
}

div#header_content>p{
    margin-top: 30px;
    margin-bottom: 15px;
    /* line-height: 30px; */
}


/* BUTTONS */
input#sign_in{
    background-color: white;
    padding: 10px 15px;
    border-radius: 30px;
}


input.download{
    background-color: white;
    margin-right: 20px;
}

input#open_with_discord{
    background-color: black;
    color: white;
}

/* All the even SECTIONS:  */
main>section:nth-child(even){
    background-color: #d7dede;
}

/* SPECIAL SECTION. Different height */
section#special_section{
    height: 1000px;
}

/* SPECIAL SECTION> SECTION CONTENT: Different display */
#special_section div.section_content{
    width: 100%;
    display: block;
}

#special_section {
    text-align: center;
}

/* SPECIAL SECTION> BUTTON */
#special_section input[type="button"]{
    margin-top: 20px;
    background-color: #4b5bb9;
    color: white;
}

div.stars_bg{
    height: 70px;
    background-image: url(../img/stars.svg);
    background-size: contain;
}


