
/* Give a class to every TAG you want to clear.
IMPORTANT: Clearfix si applica esclusivamente al parent diretto degli 
elementi in float! 
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}*/

/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 500px;
}

/* NAVIGATION BAR */
nav{
    display: inline-block;
    margin: 0 auto;
} 


li{
    display: inline-block;
    margin: 0 20px;
}

nav> li> a{
    /* Style and Shape */
    color: white;
    text-decoration: none;
    background-color: #00000082;
} 

img#logo_image{
    vertical-align: middle; 
}
 



/* div#top_bar{
    padding-top: 20px;
    display: inline-block;
    width: 80%;
    margin: 0 auto;
} */

