/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 600px;
    
    min-width: 1200px;

    color: white;
}

/* NAVIGATION BAR */
nav{
    display: inline-block;
    margin: 0 6%;
} 


li{
    display: inline-block;
    margin: 0 20px;
}

nav> li> a{
    /* Style and Shape */
    color: white;
    text-decoration: none;
} 


h1{
    font-size: 3em;
}

section{
    min-width: 1200px;
    height: 600px;
    background-color: teal;
    

    position: relative;

}

/* BUTTONS General Settings */
input[type="button"]{
    /* border-radius:  15px; */
    /* font-weight: bold; */
    cursor: pointer;
    border: none;
}

div#header_content>input[type="button"]{
    font-size: 1.2em;
    height: 50px;
    padding: 15px;
    border-radius: 30px;
}

/* SECTIONS */

div.section_content{
    display: inline-block;
    width: 300px;
}


section div.section_content>h1{
    padding-top: 40px;
}

div.secti


img.vertical_align{
    vertical-align: top;
}
 


div#top_bar{
    padding-top: 20px;
    display: block;
    width: 900px;
    margin: 0 auto;
}


/* HEADER CONTENT */
div#header_content>p{
    margin-top: 30px;
    margin-bottom: 15px;
    line-height: 30px;
}




div#header_content{
    text-align: center;
    width: 600px;
    margin: 0 auto;
    margin-top: 100px;
}


/* BUTTONS */
input#sign_in{
    background-color: white;
    padding: 10px 15px;
    border-radius: 30px;
}



input#download{
    background-color: white;
    margin-right: 20px;
}

input#open_with_discord{
    background-color: black;
    color: white;
}

